@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

:root {
    --main-bg-color: rgb(199, 252, 240);
    --events-section-bg: rgb(0, 242, 255);
    --events-item-hover-bg: rgb(143, 249, 255);
    --news-section-bg: rgb(255, 248, 214);
    --news-item-hover-bg: blanchedalmond;
    --headings-fonts: "Ubuntu", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.container {
    max-width: 1150px;
    margin: auto;
}

body {
    background-color: var(--main-bg-color);
}

.events-page {
    background-color: white;
}

.events-page article{
    margin: 25px 0px;
}

h1 {
    font-family: var(--headings-fonts);
    font-weight: bold;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 4px;
    border: 0.3px solid rgb(158, 158, 158);
}

footer {
    text-align: center;
    background-color: white;
    padding: 0.5rem;
}

.main {
    width: 90%;
    display: flex;
}

/*===================
 Middle Column Styles
 ==================*/
.middle-column {
    width: 85%;
    padding: 5px;
}

.middle-column-header {
    font-size: 1.5rem;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 2rem 0rem 3.5rem;
}

/* middle-column badge */
article h1 {
    font-size: 1.2rem;
    border-radius: 4px;
    display: inline;
    background-color: green;
    color: white;
    letter-spacing: 1.1px;
    padding: 0.2rem 0.4rem;
}

.middle-column p {
    margin: 12px 0px;
}

figure {
    float: right;
    padding-top: 5px;
    padding-left: 5px;
}

.middle-column article::after {
    clear: both;
    content: "";
    display: table;
}

/*==============================
  News And Events Section Styles
 ==============================*/
.news-section h1,
.events-section h1 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    margin-bottom: 0.5rem;
    padding: 10px;
}

.events-section,
.news-section {
    padding: 0.4rem;
}

.events-section>div,
.news-section>div {
    padding: 10px;
}

.events-menu a,
.news-articles a {
    color: black;
}

/*====================
 Events Section Styles
 ====================*/
.events-section {
    width: 10%;
    position: fixed;
    top: 0;
    right: 0;
}

.events-section>div {
    background-color: var(--events-section-bg);
}

.events-menu li {
    padding: 5px 10px;
}

.events-menu a {
    text-decoration: none;
}

.events-menu li:hover {
    background-color: var(--events-item-hover-bg);
}

/*==================
 News Section Styles
 =================*/
.news-section {
    width: 15%;
}

.news-section>div {
    background-color: var(--news-section-bg);
    height: fit-content;
}

.news-articles a {
    font-size: smaller;
    padding: 10px 0px;
}

.news-articles article:hover {
    background-color: var(--news-item-hover-bg);
}

.news-articles article {
    padding: 10px 10px;
}

/*======================
Styles for TABLET Screen
======================*/
@media screen and (max-width: 1289px) and (min-width: 700px) {
    .main {
        width: 100%;
    }

    /*===================
     Middle Column Styles
     ==================*/
    .middle-column {
        width: 80%;
        padding-right: 15px;
    }

    .middle-column-header {
        font-size: 1.4rem;
    }

    /*===================
     Events Section Styles
     ===================*/
    .events-section {
        display: none;
    }

    /*==================
     News Section Styles
     =================*/
    .news-section {
        width: 20%;
    }

    .news-section h1 {
        font-size: 1.2rem;
    }
}

/*====================== 
Styles for MOBILE Screen
======================*/
@media screen and (max-width: 699px) {
    .main {
        width: 100%;
    }

    /*===================
     Middle Column Styles
     ==================*/
    .middle-column {
        width: 100%;
        padding: 0px 15px;
    }

    .middle-column-header {
        font-size: 1.3rem;
    }

    article h1 {
        font-size: 1.2rem;
    }

    /*===================
     Events Section Styles
     ===================*/
    .events-section {
        display: none;
    }

    /*==================
     News Section Styles
     =================*/
    .news-section {
        display: none;
    }
}